/*Aqui estoy formateando a cero el margin y el pading por preferencia de la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/*En el body hago referencia al tipo de familia que declare arriba*/
body{
    background-image: url("/imagenes/fondo6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.margenTotal{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    margin-top: 80px;
}

/*En el header cree mi menu, porque queria que figurara al principio de la pagina, antes que la portada*/
header{
    background-color: rgb(41, 53, 36);
    text-align: center;
    padding: 1% 0;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    margin: 0 30px;
    padding: 5px 15px;
}
nav a:hover{
    background-color: #296f2f;
    color: #fff;
}

/*Aplico un margen de 50 px del lado inferior para separar el encabezado del carrusel*/

.encabezado{
    background-image: url("./imagenes/beige3.jpg");
    height: 200px;
    margin: 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Aplico un degradado a los titulos con -webkit y background */
.encabezado h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    background: linear-gradient(90deg, rgb(78, 120, 89), #3f4c3f);
    color: transparent;
    -webkit-background-clip: text;
}
.encabezado h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    background: linear-gradient(90deg, rgb(78, 120, 89), #3f4c3f);
    color: transparent;
    -webkit-background-clip: text;

}

/*Creando el slide manual/automatico*/

/*Genero contenedor apra ubicar al slide en el centro de la pantalla*/
.conteiner-slide{
    display: flex;
    justify-content: center;
    align-content: center;
}

.slider{
    width: 1000px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 1000px;
    height: 500px;
}

.nav-manual{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    }

.manual-btn{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: rgb(14, 99, 64);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.nav-auto{
    position: absolute;
    display: flex;
    width: 1000px;
    justify-content: center;
    margin-top: 460px;

}

.nav-auto div{
    border: none
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
background-color: #511166;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: #66111a;
}

#radio3:checked ~ .nav-auto .auto-btn3{
background-color: #66111a;
}

#radio4:checked ~ .nav-auto .auto-btn4{
background-color: #66111a;
}


/*Personalizando seccion de ubicación*/

.conteinerAll{
    max-width: 1000px;
    margin: auto;
    padding: 40px;
    margin-top: 100px;
    border-top: 6px solid rgb(95, 120, 95);
    background-image: url("/imagenes/beige3.jpg");
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
.conteinerAll h2{
    font-family: 'Libre Baskerville', serif;
    margin-left: 30%;
    margin-bottom: 30px;
}
.conteinerAll img{
    width: 500px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.conteinerAll p{
    font-size: 22px;
    color: #454545;   
    margin-top: 15px;
}

/*cuando el cursor se posiciona encima del boton cambia de flecha a manito*/
.conteinerAll button{
    margin-top: 16px;
    padding: 6px;
    background-color:transparent;
    color:#000000;
    border: 2px solid;
    border-radius: 3px;
    transition: all 400ms ease;
}

/* Cuando el cursor se posiciona encima del boton cambia de color el fondo y la letra*/
.conteinerAll button:hover{
    background: #1e6d7b;
    color: #fff;
}

.texto-oculto{
    color: #454545;
    font-size: 22px;
    margin-top: 15px;
    display: none;
}

/* show es para usarlo en java*/
.show{
    display: block;
}


/* Creando las Cards*/
.contenedorCards{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card{
    width: 400px;
    height: 450px;
    background-image: url("/imagenes/beige3.jpg");
    /*background: #d2d8db;*/
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
    padding: 8px;
    border-top: 3px solid rgb(95, 120, 95);
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);

}
.card img{
    width: 100%;
    height: 210px;
}
.contenidoCard{
    padding: 16px;
}
.contenidoCard h3{
    text-align: center;
    margin-bottom: 20px;
    
}
.contenidoCard p{
    font-size: 16px;
    line-height: 1.2;
    color:#535353;
}
.contenidoCard a{
    text-decoration: none;
    margin-top: 16px;
    display: inline-block;
    padding: 6px;
    color: #292a29;
    border: 1px solid;
    border-radius: 3px;
    transition: all 400ms ease;
}
.contenidoCard a:hover{
    background: #1e6d7b;
    color: #fff;
}


/*Personalizando el formulario*/

/* Aplicando un background + url para que el formulario se camufle 
con el fondo del body*/
.formu{
    max-width: 600px;
    width: 450px;
    height: 700px;
    max-height: 800px;
    background: linear-gradient(
    50deg,
    rgb(80, 127, 90) 50%,
    rgba(44, 55, 40, 0.7)),
    url("imagenes/fondo6.jpg");
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 6px, 13px, 37px, #000;
    }
    
.formu h4{
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    text-align: center;
}

.formu label {
    line-height: 30px;
    color: #ffffff;
}

.formu p {
    color:#454545;
    line-height: 30px;
}

.formuEntrada {
    width: 100%;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 16px;
    border: 2px solid rgb(111, 62, 37);
    font-size: 12px;
}

.formuEntradaLargo {
    width: 100%;
    height: 200px;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 16px;
    border: 2px solid rgb(111, 62, 37);
    font-size: 12px;
}

.enviar-borrar{
    display: flex ;
    justify-content: space-around;
}
.enviar-borrar input{
    cursor: pointer;
    border-radius: 3px;
    transition: all 400ms ease;
}

.enviar-borrar input:hover{
    background: #1e6d7b;
    color: #fff;
}
.si-no{
    display: flex ;
    justify-content: start;
}
.si-no label{
    margin-right: 20px;
    margin-left: 20px;
}
.formubotton {
    width: 100px;
    background: #483e33;
    border: none;
    padding: 5px;
    color: white;
    margin: 16px 0;   
}

/*Personalizando el pie de pagina*/
footer{
    background-image: url("/imagenes/beige3.jpg");
}
.contenedor-footer{
    display: flex; 
    justify-content: space-around;
}

.informal h3{
    color: #417e88;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.informal h4{
    color: #4d4e4d;
    text-align: center;    
    font-size: 16px;
    margin-top: 20px;
}

.informal p{
    color: #4d4e4d;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.contenido-footer h3{
    color: #417e88;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.contenido-footer p{
    color: #4d4e4d;
    text-align: center;
    width: 190px;
    font-size: 14px;
    padding: 4px;
}

.contenido-footer ul{
    text-align: center;
}

.contenido-footer li{
    list-style-type: none;
    position: relative;
}

/*Creo efecto de linea cuando me posiciono sobre el icono*/
.contenido-footer li::before{
    content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:100%;
    width: 0;
    height: 2px;
    background: #661128;
    transition-duration: 3s;
}

/*Especifico el largo de la linea que aparece cuando me posiciono sobre el boton*/
.contenedor-footer li:hover::before{
    width: 40px;
}

.iconos{
    text-align: center;
    padding: 0;
}

.iconos li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.iconos i{
    color: rgb(90, 87, 87);
    font-size: 25px;
}

.derechos-reservados{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.derechos-reservados p{
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 14px;
}
/*Creando un media querie para una pantalla de hasta 768px
equivalente a dispositivos moviles en forma horizontal */

@media(max-width:769px){
    nav a{
        font-size: 13px;
        margin: 0 15px;
    }
    .margenTotal{
        margin-left: 15px;
        margin-right: 15px;
    }
    .tituloPrimero{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 80px;
    }

    .conteinerAll{
        width: 90%;
        padding: 10px;
    }
    
    .conteinerAll h2{
        margin-left: 20%;
    }

    .conteinerAll img{
        width: 60%;
    }
    
    .conteinerAll p{
        font-size: 1rem;
    }
    .texto-oculto{
        font-size: 1rem;

    .informal h3{
        font-size: 17px;
    }
    
    .informal h4{
        font-size: 16px;
    }

    .contenido-footer h3{
        font-size: 17px;
    }
    
    .contenido-footer p{
        font-size: 15px;
    }
    
    .contenedor-footer li{
        padding: 3px;
    }
    
    .botton-bar{
        padding: 5px;
    }
    
    .nav-manual{
    width: 100%;
    margin-top: -40px;
    }

}


/*Creando un media querie para una pantalla de hasta 480px
equivalente a dispositivos moviles de pantalla pequeña  en forma horizontal*/



@media (max-width:480px){

    nav a{
        font-size: 12px;
        margin: 0 8px;
    }
    .margenTotal{
        margin-left: 6px;
        margin-right: 6px;
    }
    .encabezado h1{
        font-size: 1em;
    }
    .encabezado h2{
        font-size: 1em;
    }

    .conteinerAll{
        width: 100%;
        padding: 10px;
    }
    
    .conteinerAll h2{
        margin-left: 15%;
    }

    .conteinerAll img{
        width: 100%;
    }
    
    .conteinerAll p{
        font-size: 1em;
    }
    .texto-oculto{
        font-size: 1rem;


/*Ajustando las cards*/
.card{
    margin: 10px;
    padding: 6px;
}

.contenidoCard{
    padding: 10px;
}

.contenidoCard p{
    font-size: 14px;
    line-height: 1.2;
}
.contenidoCard a{
    margin-top: 10px;
    padding: 5px;
}

/*Ajustando formulario*/
.formu{
    width: 100%;
    height: 600px;
    padding: 15px;
}

.formu h4{
    font-size: 18px;
}

.formu label{
    line-height: 25px;
}

.formuEntradaLargo{
    width: 100%;
    height: 170px;
    margin-bottom: 12px;
}

.formubotton {
    margin: 0;   
}

/*Ajustando footer*/
.informal h3{
    font-size: 15px;
}
    
.informal h4{
    font-size: 12px;
}
.contenido-footer h3{
    font-size: 15px;
}
.contenido-footer p{
    font-size: 12px;
}

.contenedor-footer li{
    padding: 3px;
}

/*ajutando el slider*/

.slider{
    width: 100%;
    height: 300px;
}

.slides{
    height: 300px;
}

.slide img{
    width: 100%;
    height: 300px;
}

.nav-manual{
    width: 100%;
    margin-top: -40px;
    }

.manual-btn{
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: rgb(14, 99, 64);
}

.nav-auto{
    color: transparent;
    width: 100%;
}

.nav-auto div{
    border: none;
}
}